<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
    http://mybatis.org/schema/mybatis-spring
    http://mybatis.org/schema/mybatis-spring.xsd">
	<!-- Mapper -->
	<bean id="mp" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<!-- ↓valueには自動生成された *Mapper.java クラスをパッケージ名込みで指定してください -->
		<property name="mapperInterface" value="sample.src.main.java.jp.co.sample.customer.biz.model.RankMapper.xml" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
</beans> 